.App {
  width          : 100vw;
  max-width      : 100%;
  min-height     : calc(100vh - 64px);
  display        : flex;
  flex-flow      : column;
  justify-content: center;
  align-items    : center;
  background     : #e9eae4;

  @media only screen and(max-width: 600px) {
    min-height: calc(100vh - 56px);
  }
}
