.App {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


.search__group {
  display: flex;
}

.search__option {
  color: #4c4949;
  padding: 4px;
  transition: all .2s ease-in;
  cursor: pointer;
}

.search__input {
  display: none;
}

.search__input:checked + .search__option {
  color: blue;
}

.item__img {
  width: 50px;
  height: 50px;
}